/* *{
  margin: auto;
} */

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

button {
  height: 60px;
  width: 120px;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}
#red {
  background: red;
  color: white;
}
#green {
  background-color: green;
  color: white;
}
#blue {
  background: blue;
  color: white;
}
#random {
  font: bold;
}
div {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 200px;
}
marquee{
margin-left: 20px;
margin-right: 20px;  
padding: 9px;
  font:bold;
  font-size: larger;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  height: 40px;
  bottom: 0;
  position: fixed;
  text-align: center;
  line-height: 40px;

}

marquee:hover{
  font-size: x-large;
  background: rgb(255, 187, 187);
  border:none
}

